/* Preloader styles */
.preloader {
  display:block;
  position:relative;
  margin:0 auto;
  width:20%;
  padding-left:0.8rem;
  top:50vh;
}

.preloaderCircle {
  display:inline-block;
  width:1rem;
  height:1rem;
  margin:0.5rem;
  border-radius:50%;

    &--purple {
      background-color:$primaryColor;
    }
    &--white {
      background-color:$tertiaryColor;
    }
}

/* Preloader media queries styles */
@media screen and (min-width:320px) and (max-width:374px){
   .preloader {
     width:40%;
      padding-left:1rem;
   }
 }
@media screen and (min-width:375px) and (max-width:424px){
   .preloader {
     width:33%!important;
   }
}
@media screen and (min-width:425px) and (max-width:767px){
   .preloader {
     width:33%!important;
      padding-left:1.4rem;
   }
}
@media screen and (min-width:768px) and (max-width:1023px){
   .preloader {
     width:20%!important;
      padding-left:1.8rem;
   }
}
@media screen and (min-width:1024px) and (max-width:1366px){
   .preloader {
     width:15%!important;
      padding-left:1.8rem;
   }
}
@media screen and (min-width:1367px) and (max-width:1440px){
   .preloader {
     width:10%!important;
      padding-left:1.5rem;
   }
}
@media screen and (min-width:1707px){
   .preloader {
     width:8%!important;
      padding-left:1.2rem;
   }
}