/* Colors */
* {
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  background-color: #D2D2D2; }

/* Preloader styles */
.preloader {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 20%;
  padding-left: 0.8rem;
  background-color: purple;
  top: 50vh; }

.preloaderCircle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  border-radius: 50%; }
  .preloaderCircle--purple {
    background-color: #4A21FC; }
  .preloaderCircle--white {
    background-color: #fff; }

/* Preloader media queries styles */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .preloader {
    width: 40%;
    padding-left: 1rem; } }

@media screen and (min-width: 375px) and (max-width: 424px) {
  .preloader {
    width: 33% !important; } }

@media screen and (min-width: 425px) and (max-width: 767px) {
  .preloader {
    width: 33% !important;
    padding-left: 1.4rem; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .preloader {
    width: 20% !important;
    padding-left: 1.8rem; } }

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .preloader {
    width: 15% !important;
    padding-left: 1.8rem; } }

@media screen and (min-width: 1366px) and (max-width: 1440px) {
  .preloader {
    width: 10% !important;
    padding-left: 1.5rem; } }
